.app {
  max-height: 100vh;
  text-align: center;
  padding: 0;
}

.app-logo {
  padding: 0.5em;
  height: 10vmax;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.qr-reader {
  width: 75vw;
  max-width: 600px;
  margin: 0 auto;
}

.hodl {
  color: white;
  font-weight: bold;
  font-size: 2em;
  min-height: 10vh;
}

.hodl-dark {
  color: black;
}

.hodl-success {
  background-color: green;
  padding: 1em;
}

.hodl-error {
  background-color: red;
  padding: 1em;
}
